body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
}

.ftco-section {
  padding: 0.3em 0;
}

.ftco-navbar-light {
  background: #fff !important;
  z-index: 3;
  padding: 0;
  -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #fff;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}

.ftco-navbar-light .navbar-brand {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.ftco-navbar-light .navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #000;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-brand {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  font-size: 12px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  /* background-color: #f1bc31; */
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  z-index: -1;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  text-decoration: underline;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
  visibility: visible;
  /* background-color: #f1bc31; */
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .9rem;
    padding-bottom: .9rem;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    text-decoration: underline;
    color: #000;
  }
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #000;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
  background: #f1bc31;
  color: #fff;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    display: block !important;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #fff;
  background: #f1bc31;
  border-radius: 0px;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #f1bc31;
    border-radius: 4px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
  visibility: visible;
  background-color: #f1bc31;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #000;
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
    display: none;
  }
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.form-control {
  height: 46px !important;
  background: #fff !important;
  color: #000 !important;
  font-size: 14px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.snip1581 {
  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1581 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1581 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1581 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.snip1581 h3 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3px 0;
}

.snip1581 .title1 {
  font-weight: 600;
}

.snip1581 .title2 {
  color: #635b54;
  font-weight: 700;
  font-size: 25px;
}

.snip1581 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1581:hover img,
.snip1581.hover img {
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}





.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  border: 1px dashed rgba(42, 173, 9, 0.4);
  border-radius: 3px;
  transition: 0.2s;

}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(114, 224, 51, 0.04);
  border: 1px solid rgba(102, 255, 0, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

}

.file-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  max-width: 100%;
  padding: 0px;
  border-radius: 3px;
  transition: 0.2s;

}